database = C:\Users\tcoop\Downloads\FragPipe-jre-19.1\fragpipe\bin\2023-01-20-decoys-reviewed-isoforms-contam-UP000005640.fas
dataset = File1__35_1 C:\Users\tcoop\Desktop\FAIMS_Splitter\FragPy\File1__35_1\psm.tsv C:\Users\tcoop\Desktop\Target_Folder
dataset = File1__50_1 C:\Users\tcoop\Desktop\FAIMS_Splitter\FragPy\File1__50_1\psm.tsv C:\Users\tcoop\Desktop\Target_Folder
dataset = File1__65_1 C:\Users\tcoop\Desktop\FAIMS_Splitter\FragPy\File1__65_1\psm.tsv C:\Users\tcoop\Desktop\Target_Folder

adv_params = false
annotation-common = false
annotation-custom = false
annotation-glyco = false
annotation_file = unimod
annotation_tol = 0.01
assign_glycans = false
cap_y_ions = 
compare_betweenRuns = false
decoy_type = 1
diag_ions = 
diagextract_mode = false
diagmine_diagMinFoldChange = 3.0
diagmine_diagMinSpecDiff = 25
diagmine_fragMinFoldChange = 3.0
diagmine_fragMinPropensity = 12.5
diagmine_fragMinSpecDiff = 15
diagmine_minIonsPerSpec = 2
diagmine_minPeps = 25
diagmine_mode = false
diagmine_pepMinFoldChange = 3.0
diagmine_pepMinSpecDiff = 25
glyco_adducts = 
glyco_fdr = 0.01
glyco_isotope_max = 3
glyco_isotope_min = -1
glyco_mode = true
glyco_ppm_tol = 50
glycodatabase = 
histo_bindivs = 5000
histo_normalizeTo = psms
histo_smoothbins = 2
iontype_a = 0
iontype_b = 1
iontype_c = 0
iontype_x = 0
iontype_y = 1
iontype_z = 0
isotope_error = 0/1/2
isotope_states = 
localization_allowed_res = all
localization_background = 4
mass_offsets = 0
max_adducts = 0
n_glyco = true
normalization-psms = true
normalization-scans = false
output_extended = false
peakpicking_mass_units = 0
peakpicking_minPsm = 10
peakpicking_promRatio = 0.3
peakpicking_topN = 500
peakpicking_width = 0.002
precursor_mass_units = 0
precursor_tol = 0.01
print_decoys = false
prob_dhexOx = 
prob_dhexY = 
prob_neuacOx = 
prob_neugcOx = 
prob_phosphoOx = 
prob_regY = 
prob_sulfoOx = 
remainder_masses = 
remove_glycan_delta_mass = true
run-shepherd = true
spectra_maxfragcharge = 2
spectra_ppmtol = 20
threads = 11
varmod_masses = 
